
images/UniBanner.xcf
images/UniBannerRAW.png
images/TextBanner.xcf
video/Hi, Speed! - iPhone 12 Pro Keynote.mp4
audio/iPhone 12 Pro Max Microphone Test.aup
audio/iPhone 12 Pro Max Microphone Test.wav
video/Apple_WWDC_2010_Keynote_Address.m4v
audio/Capture Testing/iPhone 12 Pro Max Microphone Test.wav
audio/Voice Notes/Chatting with Jack about Big Blue.mp3
documentation/docs/
.DS_Store
.obsidian
.obsidian/workspace
.obsidian/templates.json
.obsidian/config
video/WWDC2010.m4v
.vscode/settings.json
events/Downloads/Teams background/MS_Build_Teams-Backgrounds_3.png
events/Downloads/Teams background/MS_Build_Teams-Backgrounds_3(1).png
events/Downloads/Teams background/MS_Build_Teams-Backgrounds_2.png
events/Downloads/Teams background/MS_Build_Teams-Backgrounds_2(1).png
events/Downloads/Teams background/MS_Build_Teams-Backgrounds_1.png
events/Downloads/Teams background/MS_Build_Teams-Backgrounds_1(1).png
events/Downloads/Social stickers/MS_Build_Social-Sticker3.png
events/Downloads/Social stickers/MS_Build_Social-Sticker3(1).png
events/Downloads/Social stickers/MS_Build_Social-Sticker2.png
events/Downloads/Social stickers/MS_Build_Social-Sticker2(1).png
events/Downloads/Social stickers/MS_Build_Social-Sticker1.png
events/Downloads/Social stickers/MS_Build_Social-Sticker1(1).png
events/Downloads/Event badges/Build_Digital_Badges_v3.pdf
events/Downloads/Desktop wallpaper/MS_Build_wallpaper_Desktop_v03.png
events/Downloads/Desktop wallpaper/MS_Build_wallpaper_Desktop_v03(1).png
events/Downloads/Desktop wallpaper/MS_Build_wallpaper_Desktop_v02.png
events/Downloads/Desktop wallpaper/MS_Build_wallpaper_Desktop_v02(1).png
events/Downloads/Desktop wallpaper/MS_Build_wallpaper_Desktop_v01.png
events/Downloads/Desktop wallpaper/MS_Build_wallpaper_Desktop_v01(1).png
events/Downloads/Build_Digital_Badges_v3.pdf
events/Desktop_wallpaper.zip
events/Event_badges.zip
events/MS_Build_Digital_Swag.zip
curation/Raindrop.io.html
curation/bookmarks_25_05_2021.html
curation/vocabulary.html
desktop.ini
video/AF Chats - Anatomy of an App Store Scam with Kosta Eleftheriou-(1080p30).mkv
