<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20D64</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>md</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-Markdown</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>0</integer>
			<key>CFBundleTypeName</key>
			<string>Markdown</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.daringfireball.markdown</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MarkdownDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Text</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MarkdownDocument</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>textbundle</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-TextBundle</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>0</integer>
			<key>CFBundleTypeName</key>
			<string>Text Bundle</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.textbundle.package</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MarkdownDocument</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>textpack</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-TextPack</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>0</integer>
			<key>CFBundleTypeName</key>
			<string>Text Pack</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.textbundle.compressed</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MarkdownDocument</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>panda</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-Bear</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>0</integer>
			<key>CFBundleTypeName</key>
			<string>Panda</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.shinyfrog.panda</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MarkdownDocument</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Panda</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>net.shinyfrog.panda</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Panda</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1648</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12D4e</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.1</string>
	<key>DTSDKBuild</key>
	<string>20C63</string>
	<key>DTSDKName</key>
	<string>macosx11.1</string>
	<key>DTXcode</key>
	<string>1240</string>
	<key>DTXcodeBuild</key>
	<string>12D4e</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.13</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 Shiny Frog. All rights reserved.</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSRequiresAquaSystemAppearance</key>
	<false/>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.net.shinyfrog.panda</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>Panda</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://sf-applications.s3.us-east-1.amazonaws.com/Panda/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>-----BEGIN PUBLIC KEY-----
MIIDOjCCAi0GByqGSM44BAEwggIgAoIBAQCEnEgTRIjh0ZsgnwMLnpCQ8qbVUiUq
0mNHzyAdqsKn8HfeMcgTBBCysNz2zuDdeVvN4PIBgwGhJ9JJRieiETU7YjImh6vy
ZDPraTqJO7qgbIcQMIwmw01lBzjTUvRlC1ZsWRA1nq+NEW4QYODO4iFydZ3VKuJh
+is+WmqPo9C0r9GKfWd8dnLzhq/GFKZSqIR3L1eECrcBSLDZz2BrOuvUUMuRotGb
GppMDR0mVP8G949gfgI5xhSuAmIe/QTeRVKq7q2gShNB+aOJwKzvyHtIMrZHSEiQ
oscIfkDZrerZyE2L7OrvVKiUcsmZNHjU6iu6d9Qh7C73VrGoG/MkjQJfAhUAqLVo
MiGDR5HzHt+ZOy7X0WcfW/ECggEAbtnrqDSbNH0pOYFbKzvYMB5buVwUCLmIXRXw
PT+z86EBO9DxQVHGJGrTxqNj9YKXiagbE7SqToqBeonuYFvBYBzHL+4SAaHPSyva
UMgQV3IbzdBZKQDVxjZ+bfqxU3mWqbrcFVQVCkbUzliV9hf36El1uhLVdeIBIPSU
fmG2MDWLzK0H/OEadIXocZ7OFR2mvcNs4z0fcmNWDKqrCBCKN/QHa/F6U56HotXD
voUsI1BfpNBEXLZaFhxh6/+W6xCLB7WE4KfYWRILh4WhzMdBylJoIPxdGf6d8dwV
aQ2avawiw9lt8P6PU/iudxgOLF1gWsBxe5nwXUxWbwQg+u/NcAOCAQUAAoIBAGrx
UiNrTqroPrSCuvkF1Pr60Ts22H7eNirrWUJUHRvbZQsmgJE46PLnGOJxgjnAtD9Q
7e7EoDfnms3502Hrh5+OY44LHqiRf21dc8kycWTxSMXnnopgVEuqdgdLlHRTQrIQ
rYXZEef6WvYL2L2Vzbn5qgd4lMK8tBrE7RpOiLKMZKGKolnBHw8qFsNaTKI0+/II
Tp83YJtkFXsogpbAerMMN2Eg7wL6wKyTml6CbJdK7PD1AaeYniBBvVPeE0rBfzRt
3WJYxBBfw6w/ITv/QBb3zvjoWKuQv7pZZPaNYL+ZAcqw+cfn38kko3pzl3Abv2o/
3AcDXKLHvjGNlWPfTUk=
-----END PUBLIC KEY-----</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>org.textbundle.compressed</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Panda</string>
			<key>UTTypeIconFile</key>
			<string>Document-Bear</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string></string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>net.shinyfrog.panda</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>panda</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Markdown</string>
			<key>UTTypeIconFile</key>
			<string>Document-Markdown</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string></string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>net.daringfireball.markdown</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>md</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Text Bundle</string>
			<key>UTTypeIconFile</key>
			<string>Document-TextBundle</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string></string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>org.textbundle.package</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.textbundle.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>textbundle</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pkware.zip-archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Text Pack</string>
			<key>UTTypeIconFile</key>
			<string>Document-TextPack</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string></string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>org.textbundle.compressed</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.textbundle.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>textpack</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
