:root {
	--headerheight: 34px; /* because Obsidian Tabs unloads the value sometimes, it seems?? */
}

.theme-dark {
	--default-font: "iA Writer Quattro V Regular";
	--header-font: "Ranille", serif;
	--alt-font: "Harlow Solid", serif;
	--mermaid-font: "Ranille", "Segoe UI", serif;
	--reveal-font: "Ranille", "Segoe UI", serif;
	--monospaced-font: "JetBrains Mono", monospace;
	--font-monospace: "JetBrains Mono", monospace;

	--opacity-translucency: .85;
	--opacity-background: #001F2B55;
	--opacity-filter: blur(15px) saturate(133%);
	--radius-full: 11px 4px 0px 4px;
	--radius-l: 11px;
	--radius-m: 4px;
	--box-shadow: 6px 8px 7px var(--background-modifier-form-field-highlighted);
	--background-primary: #002C3D;
	--background-primary-alt: var(--background-primary)/* #002C3D */
	;
	--background-secondary: #264653;
	--background-secondary-alt: var(--background-primary)/* #002C3D */
	;
	--text-normal: #E9D8A6;
	--text-muted: #0A9396;
	--text-faint: #005F73;
	--text-accent: #E9C46A;
	--text-accent-b: #E9C46A;
	--text-accent-hover: #F4A261;
	--text-on-accent: var(--background-primary)/* #002C3D */
	;
	--text-selection: var(--text-muted);
	--text-highlight-bg: var(--interactive-normal) /* #94D2BD */;
	--text-highlight-bg-active: #E9C46A40;
	--text-error: #540b0e;
	--text-error-hover: #9b2226;
	--interactive-accent: var(--text-accent);/* #E9C46A */
	--interactive-accent-b: var(--text-accent-b)/* #E9C46A */
	;
	--interactive-accent-rgb: 233, 196, 106;
	--interactive-hover: var(--text-muted)/* #0A9396 */
	;
	--interactive-accent-hover: var(--text-accent-hover)/* #F4A261 */
	;
	--interactive-normal: #94D2BD;
	--interactive-success: var(--interactive-normal)/* #94D2BD */
	;
	--background-modifier-border: var(--background-primary)/* #002C3D */
	;
	--background-modifier-form-field: var(--background-primary)/* #002C3D */
	;
	--background-modifier-form-field-highlighted: #001F2B;
	--background-modifier-success: var(--interactive-normal)/* #94D2BD */
	;
	--background-modifier-error: var(--text-error)/* #9B2226 */
	;
	--background-modifier-error-hover: var(--text-error-hover)/* #BB3E03 */
	;
	--hr-sym: " // ";
}

/* all leaves */

.view-content {
	padding-top: 6px !important;
}

/* display headers on hover ONLY WITH TABS (initially based on chrisgrieser/shimmering-focus) */

.plugin-tabs .workspace-leaf {
	border-top: 0 !important;
}

.plugin-tabs .mod-right-split .workspace-tab-header-container,
.plugin-tabs .mod-right-split .workspace-tab-header-container * {
	background-color: var(--background-secondary) !important;
	height: calc(var(--headerheight) + 2px) !important;
}

.plugin-tabs .mod-right-split .view-content {
	border-top: 2px solid var(--interactive-accent);
	margin-top: 1px;
}

.plugin-tabs .workspace-leaf {
	border-radius: 0px !important;
}

.plugin-tabs .mod-root.workspace-split .workspace-split>div.workspace-leaf:not(.mod-active),
.plugin-tabs .mod-root.workspace-split>div.workspace-leaf:not(.mod-active) {
	border-radius: 0 !important;
	border-right: 0 !important;
	border-left: 0 !important;
	--w2: max(20%, 100%) ;
}

.plugin-tabs .view-content {
	height: 100% !important;
}

.plugin-tabs .workspace-leaf.mod-active .view-actions {
	padding-right: 2px !important;
}

.plugin-tabs .workspace-leaf:not(.mod-active) .view-header {
	border-bottom: 2px solid var(--interactive-accent) !important;
}

.plugin-tabs .workspace-leaf .view-header {
	transition: .2s;
	text-align: left !important;
	border-left: 0 !important;
}

.plugin-tabs .workspace-split.mod-horizontal .view-header {
	height: var(--headerheight) !important;
}

.plugin-tabs .workspace-leaf:only-of-type .view-header {
	background-color: var(--background-secondary)!important;
	border-bottom: 2px solid var(--interactive-accent)!important;
}

.plugin-tabs .workspace-leaf:only-of-type .view-header:hover,
.plugin-tabs .workspace-leaf:only-of-type .view-header:focus-within {
	background-color: var(--background-primary)!important;
}

.plugin-tabs .workspace-leaf.mod-active .view-header:hover, 
.plugin-tabs .workspace-leaf.mod-active .view-header:focus-within {
	border-bottom: 2px solid var(--interactive-accent) !important;
	height: var(--headerheight) !important;
	opacity: 1 !important;
}

.plugin-tabs .workspace-leaf.mod-active .view-header {
	transition: .2s !important;
	border: 0;
	height: calc(var(--headerheight)/2) !important;
	opacity: 0;
}

.plugin-tabs .workspace-leaf:not(.mod-active) .view-header-title {
	opacity: 1 !important;
}

.plugin-tabs .view-header-icon,
.plugin-tabs .view-action svg,
.plugin-tabs .mod-active .view-header-title {
	opacity: 0;
}

.plugin-tabs .view-header .view-action {
	margin-right: 2px !important;
	margin-left: 6px !important;
	height: calc(var(--headerheight)/2) !important;
	width: 25px !important;
}

.plugin-tabs .view-header:hover .view-header-icon,
.plugin-tabs .view-header:hover .view-action svg,
.plugin-tabs .view-header:hover .view-header-title,
.plugin-tabs .view-header:focus-within .view-header-title,
.plugin-tabs .workspace-split.mod-vertical.mod-root .workspace-split.mod-horizontal .workspace-leaf.mod-active .view-header {
	opacity: 1;
	transition: .2s !important;
}

/* titlebar */

.titlebar-text {
	display: none;
}

.titlebar {
	background-color: var(--background-secondary);
}

.titlebar-button {
	color: var(--text-normal);
}

/* quick explorer */

#quick-explorer .explorable.titlebar-button {
	padding-top: 4px;
	padding-bottom: 4px;
	transition: .2s;
}

#quick-explorer .explorable.titlebar-button.selected {
	background-color: var(--background-secondary);
	color: var(--text-accent-hover);
}

#quick-explorer .explorable.titlebar-button:hover {
	background-color: var(--background-secondary);
	color: var(--text-accent-hover) !important;
}

#quick-explorer .explorable:first-child::before {
	content: " / " !important;
	margin-right: -4px;
}

.qe-popup-menu .menu-item:not(.is-disabled):not(.is-label):hover:not(.selected) {
	background-color: unset !important;
	color: unset !important;
}

.qe-popup-menu .menu-item[data-file-path$=".md"] .menu-item-title::after {
	content: ".md";
}

.qe-popup-menu .menu-item:not(.is-folder) .nav-file-tag {
	margin-left: -3px !important;
	text-transform: none;
	font-size: 14px;
	color: var(--text-normal);
	opacity: 1 !important;
	font-weight: normal;
	display: inline;
}

.qe-popup-menu:first-child>.menu-item-title {
	display: none !important;
}

.qe-popup-menu .menu-item:not(.is-folder) .nav-file-tag::before {
	content: ".";
}

.qe-popup-menu .menu-item:not(.is-folder) .menu-item-title {
	flex-grow: unset !important;
}

.menu.qe-popup-menu .menu-item .menu-item-icon {
	display: none;
}

.menu.qe-popup-menu .menu-item::before {
	content: "/ ";
	margin-right: 1px;
}

.menu.qe-popup-menu .menu-separator {
	border-color: var(--text-faint);
	border-width: 2px;
	margin-right: 11px;
	margin-left: 11px;
}

/* right pane */

.mod-right-split .nav-header {
	padding-top: 0px;
}

.mod-right-split .markdown-preview-view {
	padding-top: 0px;
}

.mod-right-split .workspace-leaf-content,
.mod-right-split .workspace-tab-header.is-active,
.mod-right-split .workspace-tab-container-before.is-before-active {
	background-color: var(--background-primary);
}

.workspace-tabs .markdown-preview-view {
	padding-left: 4px;
	padding-right: 4px;
	text-align: left;
}

.workspace-ribbon.mod-right.is-collapsed {
	border: 0px transparent;
	background-color: var(--background-primary);
}

.mod-right-split .workspace-tab-header.is-before-active,
.mod-right-split .workspace-tab-container-after.is-after-active {
	background-color: var(--background-primary);
	border-bottom: 0px transparent;
}

/* workspace pane tab headers */

.workspace-tab-header.is-active .workspace-tab-header-inner svg {
	color: var(--text-accent-b);
}

.workspace-tab-header:hover,
.nav-action-button:hover,
.nav-action-button.is-active:hover {
	color: var(--text-normal);
	cursor: pointer;
}

.nav-action-button,
.nav-action-button.is-active {
	padding: 1px 1px 1px 1px !important;
	margin-top: 0px;
	transition: .2s;
}

.nav-action-button svg,
.nav-action-button.is-active svg {
	vertical-align: middle;
	margin-right: 4px;
	margin-left: 4px;
}

.workspace-tab-header {
	color: var(--text-muted);
}

.mod-right-split .workspace-tab-header.is-after-active {
	background-color: var(--background-primary);
}

/* note header */

.view-header-title-container::before,
.view-header-title-container::after {
	display: none;
}

body.plugin-sliding-panes-rotate-header .workspace>.mod-root>.workspace-leaf>.workspace-leaf-content>.view-header {
	border-left: 0px !important;
	font-family: var(--header-font);
}

.plugin-sliding-panes-stacking .workspace>.mod-root>.workspace-leaf {
	box-shadow: none !important;
}

.plugin-sliding-panes-rotate-header .workspace>.mod-root>.workspace-leaf>.workspace-leaf-content>.view-header .view-header-icon {
	margin-left: auto !important;
	margin-right: auto !important;
}

.view-actions,
.view-action {
	margin-left: auto;
	margin-right: auto;
}

.workspace-split.mod-root>.workspace-leaf:first-of-type .workspace-leaf-content,
.workspace-split.mod-root>.workspace-leaf:last-of-type .workspace-leaf-content {
	border-radius: 0;
}

.workspace-ribbon {
	background-color: var(--background-secondary);
}

/* file explorer */

.tree-item-flair {
	text-align: center;
}

.nav-file-title.is-being-dragged:not(:hover) .nav-file-title-content, 
.nav-folder-title.is-being-dragged{
	color: var(--background-modifier-form-field-highlighted);
}

.nav-file-title,
.nav-folder-title {
	margin-left: 2px;
	margin-top: 1px;
	margin-bottom: 1px;
	vertical-align: middle;
	transition: .2s;
	border-radius: var(--radius-m);
}

.nav-file-title:hover,
.nav-folder-title:hover {
	background-color: var(--background-modifier-form-field-highlighted) !important;
	color: var(--interactive-accent-hover) !important;
}

.is-active .nav-file-title-content {
	color: var(--text-accent-b);
}

.nav-files-container {
	padding-bottom: 0 !important;
}

.nav-folder.mod-root>.nav-file-title,
.nav-folder.mod-root>.nav-folder-title {
	font-family: var(--header-font);
}

.nav-file,
.nav-folder {
	margin-right: 2px;
}

/* buttons */

.cMenuSettingsButton.cMenuSettingsButtonRefresh,
.cMenuSettingsButton.cMenuSettingsButtonAdd {
	background-color: var(--background-primary) !important;
}

.cMenuSettingsButton.cMenuSettingsButtonDelete {
	background-color: var(--text-error) !important;
	color: var(--text-normal);
}

.cMenuSettingsButton.cMenuSettingsButtonDelete:hover {
	background-color: var(--text-error-hover) !important;
}

.cMenuSettingsButton.cMenuSettingsButtonRefresh:hover,
.cMenuSettingsButton.cMenuSettingsButtonAdd:hover {
	background-color: var(--interactive-accent-hover) !important;
}

button {
	border-radius: var(--radius-l);
	color: var(--text-on-accent) !important;
	background-color: var(--interactive-accent-b);
	font-family: var(--header-font) !important;
	transition: .2s;
}

button.mod-warning {
	color: var(--text-normal) !important;
}

.modal button:not(.mod-cta):not(.mod-warning) {
	border-radius: var(--radius-l);
	color: var(--text-on-accent) !important;
	background-color: var(--interactive-accent-b);
	font-family: var(--header-font) !important;
	transition: .2s;
}

.modal.mod-settings button:not(.mod-cta):not(.mod-warning) {
	background-color: var(--interactive-accent);
}

.modal button:not(.mod-cta):not(.mod-warning):hover {
	background-color: var(--interactive-accent-hover);
	transition: .2s;
}

#cMenuModalBar .cMenuCommandItem {
	color: var(--text-normal) !important;
	background-color: var(--background-secondary) !important;
	opacity: var(--opacity-translucency);
}

#cMenuModalBar .cMenuCommandItem svg.codeblock-glyph * {
	display: none !important;
}

#cMenuModalBar .cMenuCommandItem svg.underline-glyph {
	transform: translateY(1px) scale(1.1, 1.1);
}

#cMenuModalBar .cMenuCommandItem svg.codeblock-glyph {
	background-image: url('https://img.icons8.com/small/96/E9D8A6/code.png');
	color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 110%;
}

#cMenuModalBar {
	box-shadow: none !important;
	border-radius: var(--radius-m) !important;
	border-width: 0 !important;
	padding-left: 6px !important;
	padding-right: 6px !important;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: var(--opacity-background) !important;
	backdrop-filter: var(--opacity-filter) !important;
	-webkit-backdrop-filter: var(--opacity-filter) !important;
	border: 2px solid var(--background-primary) !important;
}

#cMenuModalBar .cMenuCommandItem:hover {
	background-color: var(--background-modifier-form-field-highlighted) !important;
}

/* left pane */

.workspace-split.mod-left-split .workspace-leaf-resize-handle,
.workspace-split.mod-left-split .workspace-tab-header-container,
.workspace-split.mod-left-split .workspace-tab-header-container *,
.workspace-split.mod-left-split .workspace-tabs {
	background-color: var(--background-secondary);
}

.workspace-leaf-resize-handle,
.is-translucent .workspace-leaf-resize-handle {
	background-color: transparent !important;
	margin-top: 10px;
	margin-bottom: 10px;
}

.workspace-leaf-resize-handle:hover,
.is-translucent .workspace-leaf-resize-handle:hover {
	background-color: var(--text-faint) !important;
}

.workspace-ribbon.mod-left.is-collapsed,
.status-bar {
	border-right: 0px transparent;
	border-bottom: 0px transparent;
	border-top: 0px transparent;
}

.workspace .workspace-ribbon .side-dock-ribbon .mod-left {
	background-color: var(--background-secondary) !important;
}

.side-dock-ribbon-action:hover {
	color: var(--text-normal);
}

.side-dock-ribbon-action {
	transition: .2s;
	color: var(--text-muted);
}

/* text stuff */

.markdown-preview-view mark, 
.cm-s-obsidian span.cm-formatting-highlight, 
.cm-s-obsidian span.cm-highlight {
	color: var(--background-modifier-form-field-highlighted);
}

strong > em, .cm-strong.cm-em {
	font-family: var(--default-font) !important;
	font-size: unset !important;
	font-style: italic;
	color: var(--interactive-normal) !important;
}

del, .cm-strikethrough{
	color: var(--text-faint);
	text-decoration-color: var(--text-error);
}

a.footnote-link {
	text-decoration: none;
	transition: .2s;
}

.cm-s-obsidian .cm-strong,
strong,
.cm-s-obsidian .cm-strong.cm-quote {
	color: var(--text-accent-hover);
	font-family: var(--header-font);
	font-weight: normal;
	font-style: normal;
}

.cm-s-obsidian .cm-hashtag {
	color: var(--text-accent-b) !important;
}

.markdown-preview-view code,
.cm-inline-code,
.cm-s-obsidian span.cm-inline-code {
	color: var(--interactive-accent-hover);
	background-color: var(--background-modifier-form-field-highlighted) !important;
}

.cm-s-obsidian .hmd-fold-html-stub,
.cm-s-obsidian .hmd-fold-code-stub,
.cm-s-obsidian.CodeMirror .HyperMD-hover>.HyperMD-hover-content code,
.cm-s-obsidian .cm-inline-code,
.cm-s-obsidian .HyperMD-codeblock,
.cm-s-obsidian .HyperMD-hr,
.cm-s-obsidian .cm-hmd-frontmatter,
.cm-s-obsidian .cm-hmd-orgmode-markup,
.cm-s-obsidian .cm-formatting-code,
.cm-s-obsidian .cm-math,
.cm-s-obsidian .hmd-fold-math-placeholder,
.cm-s-obsidian .CodeMirror-linewidget kbd,
.cm-s-obsidian .hmd-fold-html kbd .CodeMirror-code {
	font-family: var(--font-monospace);
	font-weight: normal;
}

.progress-bar-message {
	color: var(--text-normal);
}

.suggestion-highlight {
	font-weight: normal;
	color: var(--text-accent-b);
}

.zoteroAuthors {
	color: var(--text-muted) !important;
}

.prompt-instructions {
	color: var(--text-muted);
}

.zoteroCitekey {
	color: var(--text-faint) !important;
	font-family: var(--font-monospace) !important;
}

.cm-em,
em {
	color: var(--interactive-accent-hover) !important;
	font-style: normal;
	font-family: var(--alt-font) !important;
	font-size: 126%;
}

.markdown-preview-view,
.cm-s-obsidian {
	-webkit-font-smoothing: antialiased !important;
	line-height: 1.7em;
}

.cm-s-obsidian span.cm-atom {
	color: var(--interactive-normal);
}

.cm-s-obsidian div.HyperMD-codeblock-bg {
	background-color: var(--background-modifier-form-field-highlighted);
}

.cm-hmd-codeblock {
	color: var(--interactive-accent-hover);
}

.markdown-preview-view {
	text-align: justify;
}

/* headings/headers */

.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.cm-header {
	text-align: left;
	margin-top: 33px;
	margin-bottom: 33px;
	line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
.cm-header {
	font-family: var(--header-font);
}

.cm-header-1,
h1 {
	font-size: 2.5em !important;
}

h1 {
	border-bottom: 2px solid var(--text-faint);
}

h1::before {
	content: "#   ";
	font-size: .5em;
	color: var(--text-faint);
}

.cm-header-2,
h2 {
	font-size: 2em !important;
}

h2::before {
	content: "##  ";
	font-size: .5em;
	color: var(--text-faint);
}

.cm-header-3,
h3 {
	font-size: 1.6em !important;
}

h3::before {
	content: "### ";
	font-size: .5em;
	color: var(--text-faint);
}

.cm-header-4,
h4 {
	font-size: 1.25em !important;
}

h4::before {
	content: "####";
	font-size: .5em;
	color: var(--text-faint);
}

.cm-header-5,
.cm-header-6,
h5,
h6 {
	font-size: 1.12em !important;
}

.cm-s-obsidian .HyperMD-header>span>span:first-child {
	color: var(--text-faint);
	font-size: 1em !important;
}

.collapse-icon {
	transition: .2s;
}

.CodeMirror-foldgutter-open.CodeMirror-guttermarker-subtle::after,
.CodeMirror-foldgutter-folded.CodeMirror-guttermarker-subtle::after {
	vertical-align: middle;
}

.is-collapsed .collapse-icon {
	color: var(--interactive-accent-hover);
	transition: .2s;
}

.is-collapsed .collapse-icon:hover {
	color: var(--text-normal);
}

.MJX-TEX {
	font-size: 126%;
	line-height: 0px;
	margin: 0;
	padding: 0;
}

/* leaf width */

.markdown-source-view.is-readable-line-width .CodeMirror,
.markdown-preview-view.is-readable-line-width .markdown-preview-sizer,
.markdown-preview-view.markdown-preview-sizer {
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.mod-horizontal .markdown-source-view.is-readable-line-width .CodeMirror,
.mod-horizontal .markdown-preview-view.is-readable-line-width .markdown-preview-sizer,
.mod-horizontal .markdown-preview-view.markdown-preview-sizer{
	max-width: 87.5%;
}

/* lists */

li::marker {
	color: var(--text-muted);
}

li {
	margin-top: 6px;
	margin-bottom: 6px;
}

.cm-hmd-list-indent .cm-tab::before {
	left: 0;
	top: -5px;
	bottom: -4px;
}

ul {
	padding-inline-start: 2em;
}

ul ul,
ol ol {
	padding-left: 54px;
	margin-left: -15px;
	border-left: 2px solid var(--interactive-accent);
}

.list-collapse-indicator.collapse-indicator {
	color: var(--text-faint);
}

li.is-collapsed .collapse-icon {
	color: var(--interactive-accent-hover);
}

/* scrollbar */

::-webkit-scrollbar {
	display: none;
}

/* links */

.external-link,
.internal-link {
	transition: .2s;
	text-decoration: none !important;
}

.external-link {
	background-position: top right;
	background-image: url("https://img.icons8.com/fluency-systems-regular/48/0A9396/external-link.png");
}

/* tables */

.markdown-preview-view table,
table.dataview .table-view-table {
	text-align: center;
	margin-right: auto !important;
	margin-left: auto !important;
	table-layout: fixed !important;
	width: 100%;
	height: 100%;
	border-top-left-radius: var(--radius-l) !important;
	box-shadow: var(--box-shadow);
}

table .dataview-result-list-li::marker {
	color: transparent;
}

th {
	text-align: center;
	color: var(--interactive-accent);
	background-color: var(--background-modifier-form-field-highlighted);
	font-style: italic;
	border: 0px transparent;
}

th:last-child {
	border-top-right-radius: var(--radius-m) !important;
}

tr:last-child {
	border-bottom-left-radius: var(--radius-m) !important;
	border-width: 0px !important;
}

tr:not(:last-child), 
tr:not(:last-child) th {
	border-bottom-left-radius: 0px !important;
}

tr:first-child th:first-child {
	border-top-left-radius: var(--radius-l) !important;
}

.excel th:first-child,
.excelite th:first-child {
	border-right: 2px solid var(--interactive-accent) !important;
}

.table-view-th {
	font-size: 2em !important;
}

.table-view-table>tbody>tr>td {
	text-align: center !important;
}

.markdown-preview-view th,
.markdown-preview-view td {
	border-right: 0px transparent;
	border-left: 0px transparent;
	line-height: 1.3em;
	height: 3em;
	vertical-align: middle;
	overflow: hidden;
	border: unset;
}

.markdown-preview-view th,
.excel .dataview th:first-child,
.excelite .dataview th:first-child,
.excel .dataview td:first-child,
.excelite .dataview td:first-child,
.excel td:first-child,
.excelite td:first-child {
	background-color: var(--background-modifier-form-field-highlighted);
	border-bottom: none;
	font-size: 16px !important;
	border-top: none;
	color: var(--text-accent-b);
	font-style: italic;
}

.excel .markdown-preview-view,
.excel .markdown-preview-sizer {
	max-width: 100% !important;
	max-height: 100% !important;
}

.markdown-preview-view th,
.excel .dataview th:first-child,
.excelite .dataview th:first-child {
	border-bottom: 2px solid var(--interactive-accent) !important;
}

.excel .dataview td:first-child,
.excelite .dataview td:first-child,
.excel td:first-child,
.excelite td:first-child {
	border-right: 2px solid var(--interactive-accent) !important;
}

/* modals */

.menu-separator {
	background-color: var(--background-secondary);
	height: 2px;
}

.modal a {
	color: var(--text-accent-b);
	transition: .2s;
}
.modal a:hover {
	color: var(--text-accent-hover);
}

.suggestion-item.is-selected {
	background-color: var(--background-modifier-form-field-highlighted);
	color: var(--interactive-accent-hover);
}

.tooltip,
.tippy-box,
.tippy-content {
	background-color: var(--opacity-background) !important;
	backdrop-filter: var(--opacity-filter) !important;
	-webkit-backdrop-filter: var(--opacity-filter) !important;
	color: var(--text-accent-b);
	font-weight: normal;
	font-size: 12px;
	font-family: var(--default-font);
	border-radius: var(--radius-m);
	box-shadow: var(--box-shadow);
}

.tippy-content {
	color: var(--text-normal);
}

.community-plugin-search .setting-item:first-child .setting-item-info {
	display: none;
}

.mod-community-plugin,
.community-plugin-search,
.modal.mod-settings {
	border-radius: var(--radius-full) !important;
}

.modal-title {
	font-family: var(--header-font);
}

.modal-bg{
	background-color: var(--opacity-background);
}

input {
	font-family: var(--default-font) !important;
}

.document-search-input, 
.document-replace-input {
	background-color: var(--background-modifier-form-field-highlighted) !important;
}

.document-search-container {
	background-color: var(--opacity-background);
	backdrop-filter: var(--opacity-filter);
	-webkit-backdrop-filter: var(--opacity-filter) !important;
	border-top: 2px solid var(--interactive-accent);
}

.document-search-container button:hover {
	background-color: var(--interactive-accent-hover);
}

.document-search-container .document-replace-buttons button {
	width: 100px;
}

.document-search-container .document-search-buttons button {
	width: 55px !important;
}

input.prompt-input,
input.prompt-input:active,
input.prompt-input:focus,
input.prompt {
	background-color: var(--background-modifier-form-field-highlighted);
	box-sizing: border-box;
	border-collapse: collapse;
	border-radius: 11px 4px 0px 0px;
	transform: translateY(-11px);
	width: 100% !important;
	border-bottom: 2px solid var(--interactive-accent-b);
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;
}

.menu-item.selected:not(.is-disabled):not(.is-label) {
	background-color: var(--background-modifier-form-field-highlighted) !important;
	color: var(--text-accent-hover) !important;
}

.prompt {
	border: 0px transparent !important;
	border-radius: var(--radius-full);
	padding-bottom: 8px !important;
	padding-right: 0;
	padding-left: 0;
	box-shadow: var(--box-shadow) !important;
}

.prompt:not(.prompt-input) {
	background-color: var(--opacity-background);
	backdrop-filter: var(--opacity-filter);
	-webkit-backdrop-filter: var(--opacity-filter) !important;
}

.prompt .prompt-input {
	background-color: var(--background-modifier-form-field-highlighted);
}

div.popover.hover-popover,
.menu,
.suggestion-container {
	background-color: var(--opacity-background);
	backdrop-filter: var(--opacity-filter);
	-webkit-backdrop-filter: var(--opacity-filter) !important;
	border: none;
	border-radius: var(--radius-full);
}

.menu {
	border: 0;
	box-shadow: var(--box-shadow);
	border-radius: var(--radius-full);
	padding-top: 0;
	padding-bottom: 0;
}

input:not(.search-input-container input),
input:not(.search-input-container input):focus {
	font-family: var(--default-font) !important;
	border-right: 0px transparent !important;
	border-top: 0px transparent !important;
	border-left: 0px transparent !important;
}

.modal {
	border-radius: var(--radius-l);
	border: 0 !important;
	box-shadow: var(--box-shadow);
	padding: 11px 11px;
}

.modal-content {
	padding-right: 0;
	padding-left: 0;
}

.modal-content .list-item {
	padding-right: 0;
}

.modal-close-button:before {
	transition: .2s;
}

.modal-close-button:hover:before {
	color: var(--interactive-accent-hover);
}

.menu-item {
	block-size: 35px;
}

.checkbox-container.is-enabled::after {
	background-color: var(--background-secondary-alt);
	transform: translateX(155%) translateY(22%);
}

.checkbox-container.is-enabled:active:after {
	left: -12px !important;
}

.checkbox-container::after {
	background-color: var(--interactive-accent);
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	transform: translateX(35%) translateY(22%);
}

.checkbox-container *,
.checkbox-container {
	transition: .2s;
}

.dropdown,
.setting-item-description {
	font-family: var(--default-font) !important;
}

.community-plugin-name {
	font-family: var(--header-font);
}

.vertical-tabs-container {
	font-family: var(--header-font);
}

.clickable-icon:hover {
	color: var(--text-normal);
}

.clickable-icon {
	transition: .2s;
}

.vertical-tab-nav-item.is-active {
	background-color: var(--background-secondary);
}

.vertical-tab-nav-item:hover {
	background-color: var(--background-modifier-form-field-highlighted);
}

.search-input-container input {
	background-color: var(--background-modifier-form-field-highlighted);
}

.search-input-clear-button:before {
	vertical-align: middle !important;
}

/* embeds */

.markdown-preview-view .markdown-embed-content>.markdown-preview-view,
.markdown-preview-view .markdown-embed-content>.markdown-preview-view h1 {
	margin-top: .35em !important;
}

.markdown-embed .markdown-embed-title,
.markdown-embed .file-embed-title {
	display: none !important;
}

.markdown-preview-view .markdown-embed,
.markdown-preview-view .file-embed {
	border-radius: var(--radius-full);
	border: 0;
	border-bottom: 0px;
	border-right: 0px;
	box-shadow: var(--box-shadow);
	background-color: var(--background-modifier-form-field-highlighted);
}

.markdown-preview-view .markdown-embed .markdown-preview-sizer.markdown-preview-section blockquote {
	background-color: var(--background-primary);
	box-shadow: none;
	margin-bottom: -12px !important;
	margin-top: 0px !important;
	padding-bottom: 23px;
	border-radius: var(--radius-full)!important;
	max-width: 100% !important;
}

.markdown-preview-view .internal-embed img,
.CodeMirror-linewidget.oz-image-widget img,
.markdown-preview-view .excalidraw-svg img {
	display: block;
	transition: .2s;
	max-width: 75%;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-right: auto;
	margin-left: auto;
	border-radius: var(--radius-full);
	border-width: 2px 0px 0px 2px;
	border-color: var(--background-secondary);
	box-shadow: var(--box-shadow);
}

.obsidian-banner-wrapper {
	margin-top: 0 !important;
	margin-bottom: calc(var(--banner-height) + 50px) !important;
	width: 100% !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.obsidian-banner {
	border-radius: var(--radius-l);
}

.markdown-preview-view .internal-embed img:hover,
.CodeMirror-linewidget.oz-image-widget img:hover,
.markdown-preview-view .excalidraw-svg img:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.markdown-embed-link,
.file-embed-link {
	top: 22px;
	right: 22px;
}

/* blockquotes */

.markdown-preview-view blockquote,
.community-plugin-readme .markdown-preview-view blockquote {
	border-radius: var(--radius-full);
	border-width: 0;
	border-color: transparent;
	box-shadow: var(--box-shadow);
	background-color: var(--background-modifier-form-field-highlighted);
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	margin-inline-start: auto;
	margin-inline-end: auto;
	font-style: italic;
	margin-bottom: 25px !important;
	max-width: 60%;
}

blockquote h1,
blockquote h2,
blockquote h3,
blockquote h4,
blockquote h5 {
	margin: unset !important;
}

.workspace-split.mod-horizontal blockquote {
	max-width: 90% !important;
}

/* status bar */

.status-bar,
.is-translucent .status-bar {
	border-top: 0px transparent;
	margin-right: 0px;
	margin-left: 0px;
}

/* frontmatter/metadata */

.frontmatter-container.is-collapsed,
.frontmatter-container {
	display: none;
}

/* codeblock */

.theme-dark :not(pre)>code[class*="language-"],
.theme-dark pre[class*="language-"],
.theme-dark :not(pre)>code[class*="language-"],
.theme-dark pre[class*="language-"] {
	background-color: var(--background-modifier-form-field-highlighted);
	background: var(--background-modifier-form-field-highlighted);
}

.theme-dark code[class*="language-"],
.theme-dark pre[class*="language-"] {
	color: var(--interactive-text-hover);
	text-shadow: none;
}

.code-block-copy-button {
	border-radius: var(--radius-m) !important;
	background-color: var(--interactive-accent) !important;
	transition: .2s !important;
}

.code-block-copy-button {
	background-color: var(--interactive-accent-hover) !important;
}

.code-block-copy-button__copied {
	background-color: var(--interactive-normal) !important;
	transition: .2s !important;
}

.cm-s-obsidian .HyperMD-codeblock-bg,
.cm-s-obsidian .HyperMD-codeblock-begin-bg,
.cm-s-obsidian .HyperMD-codeblock-end-bg {
	background-color: var(--background-modifier-form-field-highlighted);
}

.cm-s-obsidian .HyperMD-codeblock-bg {
	border-left: 2px transparent !important;
	border-right: 0px !important;
}

.cm-s-obsidian .HyperMD-codeblock-begin-bg {
	border-bottom: 0px !important;
	border-color: transparent !important;
	border-top-right-radius: var(--radius-m) !important;
	border-top-left-radius: var(--radius-l) !important;
}

.cm-s-obsidian .HyperMD-codeblock-end-bg {
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: var(--radius-m) !important;
}

.cm-hmd-codeblock {
	line-height: 2.2em;
}

/* center and cite */

.cen {
	display: block;
	text-align: center;
}

.cit {
	text-align: right !important;
	display: block;
	margin-top: 1em;
}

b {
	font-weight: unset;
}

/* the --- thingy */

.markdown-preview-view hr::after,
div:not(.CodeMirror-activeline)>.HyperMD-hr-bg::after {
	content: var(--hr-sym) !important;
	display: inline-block !important;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
	font-size: 16px;
	transform-origin: 50% 50%;
	color: var(--text-accent-hover) !important;
	text-shadow: 0 0 0 var(--interactive-accent) !important;
	padding: 8px;
	background-color: var(--background-primary);
}

/*-- Horizontal Linebreak HR --*/

.markdown-preview-view hr,
div:not(.CodeMirror-activeline)>.HyperMD-hr-bg {
	height: 0 !important;
	border: 2px solid var(--text-faint) !important;
	padding: 0 !important;
	border-top: 0 !important;
}

.markdown-preview-view hr, .cm-s-obsidian hr {
	margin-top: 25px !important;
	margin-bottom: 30px !important;
}

.HyperMD-hr-bg {
	margin-top: 10px !important;
	margin-bottom: 20px !important;
}

/*Hide --- Lines*/

div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-hr {
	color: transparent;
	margin: 0px;
	margin-block-start: 10px;
	margin-block-end: 10px;
}

/*Center --- Lines*/

.cm-s-obsidian pre.HyperMD-hr {
	text-align: center !important;
	margin: 0px !important;
	margin-block-start: .1% !important;
	margin-block-end: .1% !important;
}

/* kanban plugin */

.kanban-plugin__lane-grip,
button.kanban-plugin__new-item-button,
.kanban-plugin__lane-settings-button,
.kanban-plugin__item-postfix-button {
	color: var(--text-muted) !important;
	transition: .2s !important;
}

.kanban-plugin__item-postfix-button:hover {
	color: var(--text-normal) !important;
}

.kanban-plugin__lane-action-cancel {
	background-color: var(--background-modifier-error) !important;
	color: var(--text-normal) !important;
	align-self: end !important;
	margin-right: 0 !important;
	margin-left: auto !important;
}

.kanban-plugin__lane-form-wrapper .kanban-plugin__checkbox-wrapper {
	border: 0 !important;
	margin-bottom: 3px !important;
}

.kanban-plugin__lane-form-wrapper {
	background-color: var(--opacity-background) !important;
	backdrop-filter: var(--opacity-filter) !important;
	-webkit-backdrop-filter: var(--opacity-filter) !important;
	border-radius: var(--radius-full) !important;
	border: 0 !important;
	box-shadow: var(--box-shadow) !important;
}

.kanban-plugin__lane-form-wrapper .kanban-plugin__lane-input-wrapper {
	background-color: var(--background-modifier-form-field-highlighted) !important;
	border-bottom: 2px solid var(--interactive-accent) !important;
	border-radius: 11px 4px 0px 0px !important;
}

.kanban-plugin__lane-action-cancel:hover {
	background-color: var(--background-modifier-error-hover) !important;
}

.kanban-plugin__item,
.kanban-plugin__item.is-future {
	border: 1px solid transparent !important;
	border-radius: 4px 4px 0px 0px !important;
	margin-bottom: 4px !important;
}

.kanban-plugin__checkbox-wrapper .checkbox-container:not(.is-enabled) {
	background-color: var(--background-modifier-form-field-highlighted) !important;
}

.is-past .kanban-plugin__item-metadata-date-relative {
	color: var(--text-accent-hover) !important;
}

button.kanban-plugin__new-item-button:hover {
	background-color: var(--background-modifier-form-field-highlighted) !important;
	color: var(--interactive-accent-hover) !important;
}

.kanban-plugin__item button.kanban-plugin__item-prefix-button,
.kanban-plugin__item button.kanban-plugin__item-postfix-button,
.kanban-plugin__lane button.kanban-plugin__lane-settings-button {
	padding-left: 0 !important;
	margin-left: 0 !important;
	font-size: 16px !important;
	margin-right: -8px !important;
}

.kanban-plugin__lane-grip {
	margin-left: -4px !important;
}

.kanban-plugin__lane-settings-button:hover,
.kanban-plugin__lane-grip:hover {
	color: var(--text-normal) !important;
}

.kanban-plugin__lane {
	border-radius: var(--radius-full) !important;
	border: 0px solid transparent !important;
}

.kanban-plugin__item-title-wrapper {
	border-bottom: 2px solid var(--text-faint) !important;
	padding-left: 3px !important;
	padding-right: 3px !important;
	padding-top: 2px !important;
	border-radius: 4px 4px 0px 0px !important;
	border-right: 0 !important;
}

.kanban-plugin__lane {
	box-shadow: var(--box-shadow) !important;
	background-color: var(--background-primary) !important;
	border-top: 0 !important;
	border-left: 0 !important;
}

.kanban-plugin__lane-items {
	padding-top: 4px !important;
	padding-bottom: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.kanban-plugin__item-button-wrapper {
	border: 0 !important;
	padding-top: 5px !important;
}

.kanban-plugin__lane-title p {
	font-family: var(--header-font) !important;
	font-size: 1.33em;
}

.kanban-plugin__lane-header-wrapper {
	background-color: var(--background-modifier-form-field-highlighted) !important;
	border-radius: 11px 4px 0px 0px !important;
	padding-bottom: 8px !important;
	border-bottom: 2px solid var(--interactive-accent) !important;
	margin-bottom: 4px !important;
}

button.kanban-plugin__new-lane-button,
button.kanban-plugin__new-item-button {
	font-family: var(--default-font) !important;
	border-radius: var(--radius-m) !important;
}

.kanban-plugin__markdown-preview-view p {
	text-align: left !important;
}

.kanban-plugin__item-prefix-button-wrapper {
	margin-right: 3px !important;
	margin-top: .05em !important;
}

/* calendar plugin */

#calendar-container .dot-container {
	display: none;
}

#calendar-container .nav {
	height: 0px;
	/* this is hacky as fuck */
}

#calendar-container .day {
	height: 2.55em !important;
	width: 2.55em !important;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#calendar-container .reset-button:hover {
	background-color: var(--background-modifier-form-field-highlighted);
	color: var(--text-accent-hover);
}

#calendar-container .arrow:hover svg {
	color: var(--text-normal);
}

#calendar-container .reset-button {
	transition: .2s;
	padding-right: 8px;
	padding-left: 8px;
}

#calendar-container .day.today {
	background-color: var(--background-primary);
	color: var(--text-accent-b);
}

#calendar-container .day:hover {
	background-color: var(--background-modifier-form-field-highlighted);
	color: var(--text-accent-hover);
}

/* checkbox */

input[type=checkbox] {
	-webkit-appearance: none;
	appearance: none;
	border-radius: var(--radius-m);
	border: 0;
	padding: 7px;
	background-color: black;
	vertical-align: -.1em;
	right: .33em;
}

input[type=checkbox]:focus {
	outline: 0;
}

input[type=checkbox]:checked {
	background-color: black;
	border: 0;
	background-position: center;
	background-size: 100%;
	background-image: url("https://img.icons8.com/metro/26/FFFFFF/checkmark.png");
}

/* dictionary plugin */

.label {
	font-family: var(--header-font);
	font-size: 1.35em !important;
	margin-bottom: 1em;
}

.synonym {
	color: var(--text-accent-b);
}

.synonym:hover {
	color: var(--text-accent-hover) !important;
}

.results .opener .collapse-icon svg {
	transition: .2s;
}

.results .opener:not(.open) .collapse-icon svg {
	color: var(--interactive-accent-hover);
}

.results .opener .collapse-icon:hover svg {
	color: var(--text-normal);
}

.results .mark {
	box-shadow: inset 0 -2px var(--text-muted) !important;
}

.results blockquote {
	border-radius: var(--radius-full);
	border-width: 0;
	border-color: transparent;
	background-color: var(--background-primary);
	padding-bottom: 10px;
	padding-top: 5px;
	box-shadow: var(--box-shadow);
	font-style: italic;
	text-align: left;
	padding-inline-start: 1.6em !important;
}

.results blockquote:before {
	content: '"';
}

.results blockquote:after {
	content: '"';
}

.container .main {
	margin-top: 1em !important;
	border-radius: var(--radius-full) !important;
	padding-top: 8px !important;
	padding-bottom: 6px !important;
	box-shadow: var(--box-shadow);
	margin-bottom: 0 !important;
}

/* clean embeds from @Moonbase59 */

/* remove title and the table from the "Metatable" plugin */

.markdown-preview-view.clean-embeds .markdown-embed-title,
.markdown-preview-view.clean-embeds .obsidian-metatable {
	display: none;
}

/*
	For links to embeds NOT to be shown, uncomment the following
	and comment out the other section below.
	*/

/*
.markdown-preview-view.clean-embeds .markdown-embed-link,
.markdown-preview-view.clean-embeds .file-embed-link {
	display: none;
}
*/

/*
	For links to embeds to BE shown, uncomment the following
	until the "End link show/hide stuff" comment
	and comment out the section above.
	*/

	/* Link icon */

	.markdown-preview-view.clean-embeds .markdown-embed-link,
	.markdown-preview-view.clean-embeds .file-embed-link {
		top: 53px;
		right: 11px;
	/*   left: unset;
	text-align: right;
	border: none;
	margin: 0;
	width: 24px;
	height: 24px;
	color: var(--text-muted);
	cursor: pointer; */
}

/* for Ars Magna theme and others that change ::before */

.markdown-preview-view.clean-embeds .markdown-embed-link::before,
.markdown-preview-view.clean-embeds .file-embed-link::before {
	display: none;
}

/* Link icon size & hide */

/* .markdown-preview-view.clean-embeds .file-embed-link svg,
.markdown-preview-view.clean-embeds .markdown-embed-link svg {
	height: 24px;
	width: 24px;
	opacity: 0;
	display: unset;
	} */

	/* show on hover */

/* .markdown-preview-view.clean-embeds .markdown-embed:hover .file-embed-link svg,
.markdown-preview-view.clean-embeds .markdown-embed:hover .markdown-embed-link svg {
	opacity: 1;
}
*/

/* change background on hover, to exactly see what’s embedded */

/* .markdown-preview-view.clean-embeds .markdown-embed:hover,
.markdown-preview-view.clean-embeds .file-embed:hover {
	background-color: var(--background-secondary) !important;
	} */

.markdown-preview-view.clean-embeds .markdown-embed,
.markdown-preview-view.clean-embeds .file-embed {
	background-color: transparent !important;
	box-shadow: none !important;
}

/* End link show/hide stuff */

/* remove border and scroll */

/* unfortunately needs !important for some themes */

.markdown-preview-view.clean-embeds .markdown-embed,
.markdown-preview-view.clean-embeds .file-embed,
.markdown-preview-view.clean-embeds .markdown-embed .markdown-preview-sizer.markdown-preview-section {
	border: none !important;
	padding: 0 !important;
	margin: 0 !important;
}

.markdown-preview-view.clean-embeds .markdown-embed-content,
.markdown-preview-view.clean-embeds .markdown-embed-content>.markdown-preview-view {
	max-height: unset;
	padding: 0 !important;
	/* !important for "Pisum" theme */
	margin: 0;
	border: 0;
}

/* remove <br> between internal embeds */

.clean-embeds .markdown-preview-section div>br {
	display: none;
}

/* remove vertical space added by markdown-preview-sizer */

.clean-embeds div.markdown-preview-sizer.markdown-preview-section {
	min-height: unset !important;
	padding-bottom: 0 !important;
}

/* special considerations for printing (PDF export) */

@media print {
	/* remove frontmatter box if "Show frontmatter" was enabled */
	/* Also remove metadata table from "Metatable" plugin */
	pre.frontmatter,
	.obsidian-metatable {
		display: none;
	}

	.print p::first-line {
		padding-left: 2em !important;
	}

	img, table {
		box-shadow: none !important;
		border-spacing: 0px !important;
	}

	strong > em {
		color: var(--text-muted) !important;
	}

	strong {
		color: black !important;
	}

	a {
		color: var(--background-modifier-form-field-highlighted);
	}

	/* pagebreak before all # headings */
	h1 {
		page-break-before: always !important;
		page-break-after: never !important;
	}

	h2,
	h3,
	h4 {
		page-break-after: avoid !important;
	}

	pre,
	blockquote,
	table {
		page-break-inside: avoid !important;
	}

	/* use double <hr> ('---') to indicate a page break */
	hr + hr {
		page-break-before: always;
		visibility: hidden;
	}

	:not(hr) + hr {
		visibility: hidden;
	}

	:not(hr) + hr + :not(hr):not(h2) {
		border-top: 1px solid black;
		padding-top: 2em;
	}
}

/* contextual typography */

.markdown-preview-view.print div[data-tag-name="h2"] ~ div[data-tag-name="p"] p::first-line {
	text-indent: 2em !important;
}

.markdown-preview-view.print div[data-tag-name="h3"] ~ div[data-tag-name="p"] p::first-line {
	text-indent: unset !important;
}

/* languagetool */

.lt-predictions-container-glass {
	background: var(--opacity-background) !important;
	border: 0 !important;
	border-radius: var(--radius-full) !important;
	backdrop-filter: var(--opacity-filter) !important;
	-webkit-backdrop-filter: var(--opacity-filter) !important;
	box-shadow: var(--box-shadow) !important;
}

.lt-buttoncontainer button:hover {
	background-color: var(--interactive-normal) !important;
}

.lt-ignorecontainer button {
	background-color: var(--background-modifier-form-field-highlighted);
	color: var(--text-normal) !important;
	border-top: 2px solid var(--interactive-accent);
	font-size: 1em;
}

.lt-ignorecontainer button svg {
	height: 18px;
	width: 18px;
	margin-right: 6px;
}
.lt-ignorecontainer button:hover {
	background-color: var(--interactive-accent);
	color: var(--background-modifier-form-field-highlighted) !important;
}
