/* Custom icons for specific folders */

/* https://forum.obsidian.md/t/add-emojis-to-folder-titles-in-explorer-without-renaming-folders/22702 */

div[data-path="_Inbox"] .nav-folder-title-content::before
{
  content: "📥";
}

div[data-path="media"] .nav-folder-title-content::before
{
  content: "🎥";
}

div[data-path="documentation"] .nav-folder-title-content::before
{
  content: "🗄️";
}

div[data-path="Notes"] .nav-folder-title-content::before
{
  content: "📝";
}

div[data-path="Notes/Daily"] .nav-folder-title-content::before
{
  content: "📆";
}